h1{
    text-align: center;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif ;
    font-style: italic;
    color: darkslategray;
    border: 2.5px solid black;
    background-color: darkgoldenrod;
    border-radius: 10px 10px;
    width: 500px;
    margin: auto;
}
h1:hover{
    outline: 3px solid rosybrown;
    box-shadow: 0 0 50px springgreen;
    color:firebrick;
    background-color: coral;
    text-shadow: 1px 1px slateblue;
}
img{
    height: 300px;
    width: 450px;
    position: relative;
    top: 150px;
    left: 90px;
    border: 5px solid sienna;
    border-radius: 10%;
    box-shadow: 2px 5px 8px rgba(6,7,0.6);

}
img:hover{
    outline: 4px solid royalblue ;
}
.two{
    position: relative;
    left: 650px;
    bottom: 315px;
    
    
}
h2{
    position: relative;
    left: 140px;
    bottom: 100px;
    color: darkviolet;
    text-shadow: 0px 0px 10px green;
}
h2:hover{
    color:blue;
    transform: scale(1,2);
    background-color: cornflowerblue;
    border:2px solid springgreen;
    width:400px;
    border-radius: 10px 10px;
}
h3{
    position: relative;
    left: 750px;
    bottom:145px ;
    font-size: 20px;
    color: tomato;
    text-shadow: 0px 0px 10px navy;
}
h3:hover{
    color:darkorange;
    transform: scale(1,2);
    border: 2Px solid red;
    background-color:green ;
    width: 500px;
    border-radius: 10px 10px;
}
body{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLPYyxQKCcuVgIftl9afn6mwOviIjWj08jti48rlQths2MzSF7mlrPTE8IGhW9dzzotmk&usqp=CAU");
    background-repeat: no-repeat;
    background-size:cover;
}
















