body{
    background: linear-gradient(to right,white,black,yellow);
    width: 1000px;
    height: 600px;
}
.one{
    position: absolute;
    left: 510px;
    top: 90px;
}
.two{
    position:absolute;
    left:70px;
    top: 450px;    
}
img{
    height:200px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10%; 
}
img:hover{
    transform: scale(1.2);
    box-shadow: 0 0 40px honeydew;
}

.three{
    position: absolute;
    left: 520px;
    top:450px ;
}
.four{
    position: absolute; 
       left: 920px;
       top: 450px;

}
.five{
    position: absolute;
    top: 900px;
    left: 70px;

}
.six{
    position: absolute;
    left: 520px;
    top: 900px;

}
.sevan{
    position: absolute;
    left: 920px;
    top: 900px;
}
.eight{
    position: absolute;
    left: 280px;
    top: 1300px;
}
.line{
    position: absolute;
    left: 700px;
    top: 1300px;
}
h1{
   text-align:center;
   font-size: 30px;
   color:tomato;
   border: 2.5px solid black;
   border-radius: 20px 20px;
   text-shadow: 1px 1px greenyellow;
   background-color: burlywood;
   width: 400px;
   margin-left: 450px;
}
h1:hover{
    background-color:rgba(1,3,6,0.9);
    color:red;
    box-shadow:0 0 50px 50px darkblue;   
}
h3{
   font-size: 25px;
   display:block;
   font-family:serif;
   border: 2.5px solid #555;
   border-bottom-right-radius: 700%;
   width:370px;
   height: 34px ;
   background-color: cornflowerblue;
}
h3:hover{
  text-shadow:1px 1px lightseagreen;
  box-shadow:0 0 20px darkslategrey;
  rotate: 5deg;
}


